{% extends "blog/base.html" %}

{% block title %}My Blog {% endblock %}

{% block content %}
    <h1>My BLog</h1>
    {% for post in posts %}
        <h2>
            {# Using post.get_absolute_url to replace "{% url 'blog:post_detail' post.id %}" #}
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
<!-- The join template filter works analogously to Python’s string join() method. You can concatenate a
list of items into one string, using a specific character or string to separate each item. -->
        <p class="tags">Tags: {{ post.tags.all|join:", " }}</p>

        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
        {#  truncatewords truncates the value to the number of words specified, #}
        {#   and linebreaks converts the output into HTML line breaks.    #}
    {% endfor %}
{#    for pagination purpose #}
{#    this is used while using the function based views #}
{#    {% include "pagination.html" with page=posts %}#}
{#    this is used while using the class-based views, here ListView #}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}